.daily-activity {
  background: #FBFBFB;
  padding: 1.5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  position: relative;
  height: 320px;
}

.daily-activity h2 {
    font-size: 15px;
    margin-bottom: 0; /* Réduire l'espace sous le titre */
    position: absolute;
    top: 24px;
    left: 30px;
    z-index: 1;
  }

.custom-tooltip {
  background-color: #E60000;
  padding: 0.5rem;
  color: white;
}

.custom-tooltip p {
  margin: 0.5rem 0;
  font-size: 12px;
  text-align: center;
}

.custom-legend {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-right: 2rem;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #74798C;
  font-size: 14px;
}

.legend-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
} 