.sidebar {
  background-color: #020203;
  width: 117px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
}

.nav {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.nav-icon {
  background-color: white;
  padding: 8px;
  border-radius: 6px;
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon img {
  width: 32px;
  height: 32px;
}

.copyright {
  color: white;
  transform: rotate(-90deg);
  white-space: nowrap;
  position: absolute;
  bottom: 100px;
  width: 200px;
  font-size: 12px;
} 